body {
    background-color: mistyrose;
    font-family: Georgia, 'Times New Roman', Times, serif;
   color: gold; 
   font-size: large;
   align-content: center;
}

p {
    text-align: center;
    background-color: indianred;
}

div {
    text-align: center;
}

ol {
    background-color: indianred;
}

input {
    margin-left: 47%;
}


